@import '~node_modules/modern-normalize/modern-normalize.css';
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #000000;
}
body.dark-theme {
  background-color: #000000;
  color: #ffffff;
}

body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #ff6b01;
  border-radius: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 320px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

.film__button--trailer, .film__button {
  display: inline-block;
  margin: 0;
  padding: 12px 10px;
  border-radius: --border-radius;
  border: 1px solid --dark-color;
  cursor: pointer;
  text-align: center;
  color: --dark-color;
  background-color: transparent;
  font-family: inherit;
}

.nav-list__link--current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  height: 3px;
  background-color: #ff001b;
}

.btn-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.btn-list__item {
  display: flex;
}
@media screen and (max-width: 767px) {
  .btn-list__item {
    flex-grow: 1;
    flex-basis: 0;
  }
}
@media screen and (min-width: 768px) {
  .btn-list {
    gap: 32px;
  }
}

.button {
  padding: 6px 12px;
  min-width: 110px;
  min-height: 44px;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.56);
  border: 1px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover {
  background-color: #fec69e;
  box-shadow: 0px 8px 43px rgba(254, 198, 158, 0.6);
  border-color: #fec69e;
}
.button:active {
  background-color: #ff6b01;
  color: #ffffff;
  border-color: #ff6b01;
}
@media screen and (min-width: 768px) {
  .button {
    min-width: 152px;
  }
}
@media screen and (min-width: 1280px) {
  .button {
    min-width: 148px;
    min-height: 42px;
  }
}

.film__button {
  color: #000000;
  border-color: #000000;
  background-color: inherit;
}
@media screen and (min-width: 768px) {
  .film__button {
    width: 125px;
  }
}
@media screen and (min-width: 1280px) {
  .film__button {
    width: 136px;
    min-height: 44px;
  }
}

.button.btn-add__active {
  background-color: #ff6b01;
  color: #ffffff;
  border-color: #ff6b01;
}

.header {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-size: cover;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56));
}
@media screen and (max-width: 767px) {
  .header {
    background-image: url(../images/Group\ 86_home@x1_320min.jpg);
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .header {
    background-image: url(../images/Group\ 86_home@x2_320min.jpg);
  }
}
@media screen and (min-width: 768px) {
  .header {
    background-image: url(../images/Group\ 86_home@x1_768min.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .header {
    background-image: url(../images/Group\ 86_home@x2_768min.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .header {
    background-image: url(../images/Group\ 87_home@x1_1280min.jpg);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .header {
    background-image: url(../images/Group\ 87_home@x2_1280min.jpg);
  }
}

.header__container {
  min-height: 230px;
  padding: 40px 20px;
}
@media screen and (min-width: 768px) {
  .header__container {
    min-height: 216px;
  }
}

.nav {
  display: flex;
}

.logo {
  display: flex;
  align-items: center;
}
.logo__text {
  display: inline-block;
  margin: 0;
  margin-left: 8px;
  font-size: 30px;
}
@media screen and (max-width: 767px) {
  .logo__text {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
    margin: -1px;
  }
}
@media screen and (min-width: 1280px) {
  .logo__text {
    margin-left: 10px;
  }
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
  margin-left: auto;
}
.nav-list__item {
  position: relative;
  transform: scale(1);
  transition: transform 350ms cubic-bezier(0.12, 0.68, 0.82, 0.55);
}
.nav-list__item:hover, .nav-list__item:focus {
  transform: scale(1.25);
}
.nav-list__link {
  display: inline-block;
  margin: 0;
  padding: 0;
  padding-top: 4px;
  padding-bottom: 6px;
  text-align: center;
  text-transform: uppercase;
  color: inherit;
  transition: color 350ms cubic-bezier(0.12, 0.68, 0.82, 0.55);
}
.nav-list__link:hover, .nav-list__link:focus {
  color: #ff001b;
}

.search-form {
  position: relative;
  max-width: 394px;
  min-width: 280px;
  margin-top: 54px;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .search-form {
    max-width: 336px;
    margin-top: 40px;
    margin-bottom: 20px;
  }
}
.search-form__input {
  width: 100%;
  min-height: 20px;
  padding-left: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  outline: none;
  border: none;
  border-bottom: 0.5px solid #ffffff;
  background-color: inherit;
  color: #ffffff;
}
.search-form__input::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
}
.search-form__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
}
.search-form__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
}
.search-form__btn {
  position: absolute;
  top: -20px;
  right: -20px;
  padding: 20 20 20px 20px;
  border: 0;
  background-color: inherit;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .search-form__btn {
    top: -10px;
    right: -10px;
    padding: 10 10 10px 10px;
  }
}

.search-result {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #ff001b;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.footer {
  margin-top: auto;
  font-family: "Roboto";
  background-color: #f7f7f7;
}

.footer-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer__text-wrapper {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #8c8c8c;
}
@media screen and (min-width: 768px) {
  .footer__text-wrapper {
    flex-direction: row;
    font-size: 16px;
    line-height: 1.18;
    align-items: baseline;
  }
}

@media screen and (max-width: 768px) {
  .footer__copyright-text {
    margin-bottom: 10px;
  }
}

.footer__team-text {
  display: flex;
  align-items: center;
}

.footer__students {
  text-decoration: underline;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__students:hover,
.footer__students :focus {
  color: #ff6b01;
}

.footer__icon-heart {
  display: block;
  margin-left: 10px;
  margin-right: 10px;
  fill: #000000;
}

.footer__backdrop {
  position: fixed;
  z-index: 1;
  overflow-y: scroll;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(29, 29, 29, 0.484);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.footer__backdrop.is-hidden .footer__modal {
  opacity: 0;
}

.footer__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: auto;
  padding: 20px 60px;
  min-width: 320px;
  width: 950px;
  border-radius: 2px;
  opacity: 1;
  background-color: #ffffff;
  z-index: 3;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__modal-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 23px;
  color: #ff6b01;
  font-size: 40px;
  font-weight: 500;
}

.scream {
  color: #000000;
}

.student-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: -10px;
  margin-top: 0;
}

.student-item {
  text-align: center;
  overflow: hidden;
  width: 130px;
  margin: 10px;
  margin-top: 0;
}

.student-image {
  border-radius: 4px;
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  box-shadow: 1px 1px 20px 2px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  margin-bottom: 8px;
}

.student-name {
  display: block;
  color: #000000;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 7px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.student-name:hover, .student-name:focus {
  color: #ff6b01;
}

.student-role {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  color: #ff6b01;
}

.footer__closeBtn {
  position: absolute;
  background-color: #ff6b01;
  top: 10px;
  right: 10px;
  background-color: transparent;
  overflow: hidden;
  cursor: pointer;
  padding: 5px;
  width: 40px;
  height: 40px;
  border: none;
}

.footer__close-icon {
  width: 35px;
  height: 35px;
  fill: #000000;
  border: 1px solid rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__close-icon:hover,
.footer__close-icon :focus {
  fill: #ff6b01;
}

.gallery {
  display: grid;
  width: 100%;
  grid-gap: 20px;
  justify-content: center;
  padding: 20px 0 40px;
  margin-left: auto;
  margin-right: auto;
}
.gallery__link {
  position: relative;
  display: block;
  height: 100%;
  border-radius: 4px;
  color: inherit;
  text-decoration: none;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery__link:hover {
  cursor: pointer;
  transform: scale(1.03);
}
.gallery__link:focus {
  outline: 4px solid #ff6b01;
  outline-offset: 4px;
  transform: scale(1.03);
}
.gallery__event-wrapper {
  pointer-events: none;
}
.gallery__poster-wrapper {
  display: flex;
  overflow: hidden;
  border-radius: 5px;
  background-image: url(../images/placeholder.webp);
  background-size: cover;
  box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.2);
}
.gallery__poster {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  width: 100%;
}
.gallery__description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
}
.gallery__movie-title {
  max-width: 100%;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.gallery__movie-meta {
  color: #ff6b01;
}
.gallery__movie-info {
  margin-right: 9px;
}
.gallery__movie-rating {
  padding: 1px 6px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #ff6b01;
}
@media screen and (min-width: 480px) {
  .gallery__poster-wrapper {
    height: 398px;
  }
}
@media screen and (min-width: 768px) {
  .gallery {
    grid-gap: 32px;
    grid-template-columns: 336px 336px;
    padding: 40px 0;
  }
  .gallery__poster-wrapper {
    height: 455px;
  }
}
@media screen and (min-width: 1280px) {
  .gallery {
    grid-template-columns: 395px 395px 395px;
  }
  .gallery__description {
    gap: 6px;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.04em;
  }
  .gallery__poster-wrapper {
    height: 600px;
  }
  .gallery__movie-rating {
    padding: 3px 8px;
  }
}

.empty_library_bcg_img {
  margin-top: 100px;
  margin-bottom: 60px;
  background-image: url("/src/images/nomovies.svg");
  display: block;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 0) {
  .empty_library_bcg_img {
    height: 150px;
    width: 150px;
  }
}
@media screen and (min-width: 768px) {
  .empty_library_bcg_img {
    height: 250px;
    width: 250px;
  }
}
@media screen and (min-width: 1200px) {
  .empty_library_bcg_img {
    height: 400px;
    width: 400px;
  }
}

h2,
h3 {
  margin: 0;
}

.modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 100;
  overflow: auto;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: scale(1);
  visibility: visible;
  pointer-events: auto;
  transition: opacity 800ms cubic-bezier(0.4, 0, 0.2, 1), visibility 800ms cubic-bezier(0.4, 0, 0.2, 1), transform 800ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 48px 20px;
  opacity: 1;
  background-color: inherit;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  width: 94%;
  z-index: 101;
}

@media screen and (max-width: 767px) {
  .modal {
    max-width: 450px;
    padding: 48px 20px;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    width: 704px;
    padding: 40px 36px;
  }
}
@media screen and (min-width: 1280px) {
  .modal {
    width: 806px;
    padding: 40px 36px;
  }
}
.button__close {
  position: absolute;
  padding: 0;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: currentColor;
  color: black;
  background-color: transparent;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button__close:hover, .button__close:focus {
  color: #ff6b01;
}

.film__image {
  display: block;
  width: 100%;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  .film__image {
    min-width: 264px;
  }
}

.film__title {
  margin-bottom: 12px;
  font-family: "Roboto", sans-serif;
  color: #000000;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.04em;
}

.upper {
  text-transform: uppercase;
}

.film__item {
  font-family: "Roboto", sans-serif;
  color: #8c8c8c;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  margin-bottom: 8px;
  font-weight: 500;
}

.film__details {
  font-family: "Roboto", sans-serif;
  color: #000000;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  margin-bottom: 8px;
}

.film__rating {
  color: #f7f7f7;
  background-color: #ff6b01;
  border-radius: 5px;
  padding: 1px 7px;
  align-items: center;
}

.film__votes-number {
  background-color: #f7f7f7;
  border-radius: 5px;
  padding: 7px 1px;
}

.film__button--trailer {
  align-items: center;
}

@media screen and (min-width: 768px) {
  .modal__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
}
@media screen and (min-width: 1280px) {
  .modal__wrapper {
    gap: 16px;
  }
}

.film__info {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin: 60px auto 60px auto;
}

.pagination {
  display: inline-flex;
  gap: 16px;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  margin-left: auto;
  margin-right: auto;
}

.pagination-numbers {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.pagination-button {
  width: 40px;
  height: 40px;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}
.pagination-button.current {
  background-color: #ff6b01;
  color: white;
}
.pagination-button:hover {
  background-color: #fec69e;
  transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 8px 43px rgba(254, 198, 158, 0.6);
}
.pagination-button.arrow-left {
  background-image: url("/src/images/arrow-left.svg");
}
.pagination-button.arrow-right {
  background-image: url("/src/images/arrow-right.svg");
}
.pagination-button.unactive {
  opacity: 0.3;
  cursor: auto;
}
.pagination-button.unactive:hover {
  background-color: #f7f7f7;
}

.dots, .last {
  display: none;
}
@media screen and (min-width: 767px) {
  .dots, .last {
    display: flex;
  }
}

.theme-switcher__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  margin-left: auto;
  fill: #ffffff;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  padding: 0;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.theme-switcher__btn:hover {
  background-color: #ff6b01;
}

.icon-ishidden {
  display: none;
}

.btn-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.btn-list__item {
  display: flex;
}
@media screen and (max-width: 767px) {
  .btn-list__item {
    flex-grow: 1;
    flex-basis: 0;
  }
}
@media screen and (min-width: 768px) {
  .btn-list {
    gap: 32px;
  }
}

.button {
  padding: 6px 12px;
  min-width: 110px;
  min-height: 44px;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.56);
  border: 1px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover {
  background-color: #fec69e;
  box-shadow: 0px 8px 43px rgba(254, 198, 158, 0.6);
  border-color: #fec69e;
}
.button:active {
  background-color: #ff6b01;
  color: #ffffff;
  border-color: #ff6b01;
}
@media screen and (min-width: 768px) {
  .button {
    min-width: 152px;
  }
}
@media screen and (min-width: 1280px) {
  .button {
    min-width: 148px;
    min-height: 42px;
  }
}

.film__button {
  color: #000000;
  border-color: #000000;
  background-color: inherit;
}
@media screen and (min-width: 768px) {
  .film__button {
    width: 125px;
  }
}
@media screen and (min-width: 1280px) {
  .film__button {
    width: 136px;
    min-height: 44px;
  }
}

.button.btn-add__active {
  background-color: #ff6b01;
  color: #ffffff;
  border-color: #ff6b01;
}/*# sourceMappingURL=index.css.map */