@import '~node_modules/modern-normalize/modern-normalize.css';
:root {
  --border-radius: 5px;
  --main-bg-color: #e5e5e5;
  --footer-bg-color: #f7f7f7;
  --light-color: #ffffff;
  --dark-color: #000000;
  --modal-text: #8c8c8c;
  --orange-color: #ff6b01;
  --red-color: #ff001b;
  --shadow: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
  --animationTransition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --font-family: "Roboto", sans-serif;
  --mobile: 480px;
  --min-tablet: 767px;
  --tablet: 768px;
  --min-desktop: 1279px;
  --desktop: 1280px;
}

body {
  font-family: --font-family;
  background-color: --main-bg-color;
  color: --dark-color;
}
body.dark-theme {
  background-color: --dark-color;
  color: --light-color;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 320px;
}
@media screen and (min-width: --mobile) {
  .container {
    width: --mobile;
  }
}
@media screen and (min-width: --tablet) {
  .container {
    width: --tablet;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: --desktop) {
  .container {
    width: --desktop;
  }
}

.header {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: #ffffff;
}

.header__container {
  max-width: 1200px;
  min-height: 230px;
  padding: 40px 20px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56));
  background-size: 100% 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 768px) {
  .header__container {
    padding-right: 33px;
    padding-left: 33px;
  }
}
@media screen and (min-width: 768px) {
  .header__container {
    min-height: 216px;
  }
}
.nav {
  display: flex;
}

.logo {
  display: flex;
  align-items: center;
}
.logo__text {
  display: inline-block;
  margin: 0;
  margin-left: 8px;
  font-size: 30px;
}
@media screen and (max-width: 767px) {
  .logo__text {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
    margin: -1px;
  }
}

.nav-list {
  display: flex;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.nav-list__item {
  display: inline-block;
  margin: 0;
  padding: 0;
  padding-top: 4px;
  padding-bottom: 6px;
  text-decoration: none;
  list-style: none;
  text-align: center;
  text-transform: uppercase;
  color: inherit;
}

.search-form {
  position: relative;
  max-width: 336px;
  margin-top: 54px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .search-form {
    margin-top: 40px;
  }
}
.search-form__input {
  width: 100%;
  min-height: 20px;
  padding-left: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
  background-color: inherit;
  border: none;
  border-bottom: 0.5px solid #ffffff;
}
.search-form__input::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
}
.search-form__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
}
.search-form__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
}
.search-form__btn {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  background-color: inherit;
}

.pagination {
  display: flex;
  gap: 16px;
}
.pagination-button {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: var(--orange-color);
}/*# sourceMappingURL=index.css.map */