@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  font-family: "Roboto", sans-serif;
  background-color: #e5e5e5;
  color: #000000;
}
body.dark-theme {
  background-color: #000000;
  color: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 320px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

.nav-list__link--current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  height: 3px;
  background-color: #ff001b;
}

.btn-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.btn-list__item {
  display: flex;
}
@media screen and (max-width: 767px) {
  .btn-list__item {
    flex-grow: 1;
    flex-basis: 0;
  }
}
@media screen and (min-width: 768px) {
  .btn-list {
    gap: 32px;
  }
}

.button {
  padding: 6px 12px;
  min-width: 110px;
  min-height: 44px;
  flex-basis: 330px;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.56);
  border: 1px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover {
  background-color: #fec69e;
  box-shadow: 0px 8px 43px rgba(254, 198, 158, 0.6);
  border-color: #fec69e;
}
.button:active {
  background-color: #ff6b01;
  color: #ffffff;
  border-color: #ff6b01;
}
@media screen and (min-width: 768px) {
  .button {
    min-width: 152px;
  }
}
@media screen and (min-width: 1280px) {
  .button {
    min-width: 148px;
    min-height: 42px;
  }
}

.film__button {
  color: #000000;
  border-color: #000000;
  background-color: inherit;
}
@media screen and (min-width: 768px) {
  .film__button {
    min-width: 125px;
  }
}
@media screen and (min-width: 1280px) {
  .film__button {
    min-width: 136px;
    min-height: 44px;
  }
}

.button.btn-add__active {
  background-color: #ff6b01;
  color: #ffffff;
  border-color: #ff6b01;
}

.header {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-size: cover;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56));
}
@media screen and (max-width: 767px) {
  .header {
    background-image: url(../images/Group\ 86_home@x1_320min.jpg);
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .header {
    background-image: url(../images/Group\ 86_home@x2_320min.jpg);
  }
}
@media screen and (min-width: 768px) {
  .header {
    background-image: url(../images/Group\ 86_home@x1_768min.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .header {
    background-image: url(../images/Group\ 86_home@x2_768min.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .header {
    background-image: url(../images/Group\ 87_home@x1_1280min.jpg);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .header {
    background-image: url(../images/Group\ 87_home@x2_1280min.jpg);
  }
}

.header__container {
  min-height: 230px;
  padding: 40px 20px;
}
@media screen and (min-width: 768px) {
  .header__container {
    min-height: 216px;
  }
}

.nav {
  display: flex;
}

.logo {
  display: flex;
  align-items: center;
}
.logo__text {
  display: inline-block;
  margin: 0;
  margin-left: 8px;
  font-size: 30px;
}
@media screen and (max-width: 767px) {
  .logo__text {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
    margin: -1px;
  }
}
@media screen and (min-width: 1280px) {
  .logo__text {
    margin-left: 10px;
  }
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
  margin-left: auto;
}
.nav-list__link {
  display: inline-block;
  margin: 0;
  padding: 0;
  padding-top: 4px;
  padding-bottom: 6px;
  text-align: center;
  text-transform: uppercase;
  color: inherit;
}
.nav-list__item {
  position: relative;
}

.search-form {
  position: relative;
  max-width: 394px;
  min-width: 280px;
  margin-top: 54px;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .search-form {
    max-width: 336px;
    margin-top: 40px;
    margin-bottom: 20px;
  }
}
.search-form__input {
  width: 100%;
  min-height: 20px;
  padding-left: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  outline: none;
  border: none;
  border-bottom: 0.5px solid #ffffff;
  background-color: inherit;
  color: #ffffff;
}
.search-form__input::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
}
.search-form__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
}
.search-form__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
}
.search-form__btn {
  position: absolute;
  top: -20px;
  right: -20px;
  padding: 20 20 20px 20px;
  border: 0;
  background-color: inherit;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .search-form__btn {
    top: -10px;
    right: -10px;
    padding: 10 10 10px 10px;
  }
}

.search-result {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #ff001b;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.gallery {
  display: grid;
  width: 100%;
  grid-gap: 20px;
  justify-content: center;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}
.gallery__link {
  position: relative;
  display: block;
  height: 100%;
  border-radius: 4px;
  color: inherit;
  text-decoration: none;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery__link:hover {
  cursor: pointer;
  transform: scale(1.03);
}
.gallery__link:focus {
  outline: 4px solid #ff6b01;
  outline-offset: 4px;
  transform: scale(1.03);
}
.gallery__event-wrapper {
  pointer-events: none;
}
.gallery__poster {
  display: block;
  width: 100%;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery__description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
}
.gallery__movie-title {
  max-width: 100%;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.gallery__movie-meta {
  color: #ff6b01;
}
.gallery__movie-info {
  margin-right: 9px;
}
.gallery__movie-rating {
  padding: 1px 6px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #ff6b01;
}
@media screen and (min-width: 480px) {
  .gallery__poster {
    height: 398px;
  }
}
@media screen and (min-width: 768px) {
  .gallery {
    grid-gap: 32px;
    grid-template-columns: 336px 336px;
  }
  .gallery__poster {
    height: 455px;
  }
}
@media screen and (min-width: 1280px) {
  .gallery {
    grid-template-columns: 395px 395px 395px;
  }
  .gallery__description {
    gap: 6px;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.04em;
  }
  .gallery__poster {
    height: 600px;
  }
  .gallery__movie-rating {
    padding: 3px 8px;
  }
}

.pagination-container {
  display: flex;
  justify-content: center;
}

.pagination {
  display: inline-flex;
  gap: 16px;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  margin-left: auto;
  margin-right: auto;
}

.pagination-numbers {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.pagination-button {
  width: 40px;
  height: 40px;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}
.pagination-button.current {
  background-color: #ff6b01;
  color: white;
}
.pagination-button.unactive {
  opacity: 0.3;
  cursor: auto;
}
.pagination-button.arrow-left {
  background-image: url("/src/images/arrow-left.svg");
}
.pagination-button.arrow-right {
  background-image: url("/src/images/arrow-right.svg");
}/*# sourceMappingURL=index.css.map */