.btn-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;

  &__item {
    display: flex;
    @media screen and (max-width: #{$min-tablet}) {
      flex-grow: 1;
      flex-basis: 0;
    }
  }

  @media screen and (min-width: #{$tablet}) {
    gap: 32px;
  }
}

.button {
  padding: 6px 12px;

  min-width: 110px;
  min-height: 44px;
  // flex-grow: 1;
  // flex-basis: 330px;

  text-transform: uppercase;
  color: #{$light-color};
  background: rgba(0, 0, 0, 0.56);
  border: 1px solid #{$light-color};
  border-radius: 5px;
  cursor: pointer;

  transition: #{$animationTransition};

  &:hover {
    background-color: #fec69e;
    box-shadow: 0px 8px 43px rgba(254, 198, 158, 0.6);
    border-color: #fec69e;
  }

  &:active {
    background-color: #{$orange-color};
    color: #{$light-color};
    border-color: #{$orange-color};
  }

  @media screen and (min-width: #{$tablet}) {
    min-width: 152px;
  }

  @media screen and (min-width: #{$desktop}) {
    min-width: 148px;
    min-height: 42px;
  }
}

.film__button {
  color: #{$dark-color};
  border-color: #{$dark-color};
  background-color: inherit;

  @media screen and (min-width: #{$tablet}) {
    width: 125px;
  }

  @media screen and (min-width: #{$desktop}) {
    width: 136px;
    min-height: 44px;
  }
}

.button.btn-add__active {
  background-color: #{$orange-color};
  color: #{$light-color};
  border-color: #{$orange-color};
}
