.btn-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: #{$min-tablet}) {
      flex-grow: 1;
      flex-basis: 0;
    }
  }

  @media screen and (min-width: #{$tablet}) {
    gap: 32px;
  }

  &--film {
    @media screen and (min-width: #{$tablet}) {
      gap: 15px;
    }
  }
}

.button {
  padding: 5px 12px;

  min-width: 110px;
  min-height: 44px;
  height: 100%;
  flex-basis: 400px;

  font-family: $primary-font-family;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;

  text-transform: uppercase;
  color: #{$light-color};
  background: rgba(0, 0, 0, 0.56);
  border: 1px solid #{$light-color};
  border-radius: 5px;
  cursor: pointer;

  transition: #{$animationTransition};

  &:hover {
    background-color: #fec69e;
    box-shadow: 0px 8px 43px rgba(254, 198, 158, 0.6);
    border-color: #fec69e;
  }

  &:focus-visible {
    outline: none;
    background-color: #{$orange-color};
    border-color: #{$orange-color};
    box-shadow: 0px 8px 43px rgba(254, 198, 158, 0.6);
  }

  &:active {
    background-color: #{$orange-color};
    color: #{$light-color};
    border-color: #{$orange-color};
  }

  @media screen and (min-width: #{$tablet}) {
    min-width: 152px;
  }

  @media screen and (min-width: #{$desktop}) {
    min-width: 148px;
    min-height: 42px;
  }
}

.film__button {
  color: #{$dark-color};
  border-color: #{$dark-color};
  background-color: inherit;

  &:hover {
    background-color: #{$orange-color};
    box-shadow: none;
    border-color: #{$orange-color};
  }

  &:active {
    color: #{$dark-color};
  }

  &:disabled {
    background-color: #7a7a7a;
  }
  &:disabled:hover {
    border-color: #{$dark-color};
  }

  @media screen and (min-width: #{$tablet}) {
    width: 125px;
  }

  @media screen and (min-width: #{$desktop}) {
    width: 136px;
    min-height: 44px;
  }
}

.button.btn-add__active {
  background-color: #{$orange-color};
  color: #{$light-color};
  border-color: #{$orange-color};
}
