<footer class="footer">
    <div class="container footer-wrapper">
        <div class="footer__text-wrapper">
            <p class="footer__copyight-text">© 2023 | All Rights Reserved |</p>
            <p class="footer__team-text">&nbsp;Developed with 
                <svg class="footer__icon-heart" width="14" height="12">
                    <use href="/src/images/icon.svg#icon-heart"></use>
                </svg>by&nbsp;<span class="footer__students" data-action="footerModalOpen">GoIT Students</span>
            </p>
        </div>
            <!-- <include src="./partials/modal-students.html"></include> -->

    </div>
</footer>

