<header class="header">
  <div class="header__container container">
      <nav class="nav">
          <a href="./index.html" class="logo logo-return">
            <svg class="logo__icon" width="24" height="24">
              <use href="./images/icon.svg#icon-logo"></use>
            </svg>
            <h1 class="logo__text">Filmoteka</h1>
          </a>
      
      <!-- <ul class="nav-list">
        <li><a class="nav-list__item" href="./index.html">Home</a></li>
        <li><a class="nav-list__item" href="./library.html">my library</a></li>
      </ul> -->

          <ul class="nav-list">
            <li class="nav-list__item">
              <a class="nav-list__link" href="./index.html">Home</a>
            </li>
            <li class="nav-list__item">
              <a class="nav-list__link nav-list__link--current" href="./library.html">my library</a>
            </li>
          </ul>

      </nav>

    <ul class="btn">
          <li class="btn-list">
              <button id="watched" class="button" type="submit">Watched</button>
          </li>
          <li class="btn-list">
              <button id="queue" class="button" type="submit">queue</button>
          </li>
    </ul>
  </div>  
</header>
