<header class="header">
  <div class="header__container container">
    <nav class="nav">
      <a href="./index.html" class="logo logo-return">
        <svg class="logo__icon" width="24" height="24">
          <use href="./images/icon.svg#icon-logo"></use>
        </svg>
        <h1 class="logo__text">Filmoteka</h1>
      </a>
      <ul class="nav-list">
        <li class="nav-list__item">
          <a class="nav-list__link nav-list__link--current" href="./index.html"
            >Home</a
          >
        </li>
        <li class="nav-list__item">
          <a class="nav-list__link" href="./library.html">my library</a>
        </li>
        <li class="nav-list__item">
          <a class="nav-list__link" href="#" id="sing_in">sign in</a>
        </li>
      </ul>
    </nav>

    <form class="search-form" name="search-form">
      <input
        class="search-form__input"
        type="text"
        name="search-film"
        id="search-film"
        placeholder="Movie search"
      />
      <button class="search-form__btn" type="submit">
        <svg width="12" height="12">
          <use href="./images/icon.svg#icon-search"></use>
        </svg>
      </button>
    </form>
    <p class="search-result"></p>
  </div>
</header>
