<div class="footer__backdrop is-hidden" id="footerBackdrop">
    <div class="footer__modal"> <button class="footer__closeBtn" type="button" data-action="footerModalClose">
            <svg class="footer__close-icon">
                <use href="/src/images/icon-close.svg#close"></use>
            </svg> </button>
        <h2 class="footer__modal-title">
            <span class="part-java-scream">Java</span>
            Scream
            <span class="part-java-scream">[13]</span>
        </h2>
        <ul class="student-list">
            <li class="student-item">
                <img class="student-image"
                    src="/src/images/profile/Elastic.png"
                    alt="" width="160" height="160">
                <a class="student-name" href="https://github.com/TetianaTantrum" rel="noopener noreferrer"
                    target="_blank">Tetiana<br>Mienkova</a>
                <p class="student-role">developer</p>
            </li>
            <li class="student-item">
                <img class="student-image"
                    src="/src/images/profile/IggyPop.webp"
                    alt="" width="160px" height="160px">
                <a class="student-name" href="https://github.com/ukrwebprom" rel="noopener noreferrer"
                    target="_blank">Yurii<br>Pochtiennykh</a>
                <p class="student-role">developer</p>
            </li>
            <li class="student-item">
                <img class="student-image"
                    src="/src/images/profile/RossGeller.webp"
                    alt="" width="160px" height="160px">
                <a class="student-name" href="https://github.com/Tsylepa" rel="noopener noreferrer"
                    target="_blank">Anton<br>Tsylepa</a>
                <p class="student-role">developer</p>
            </li>
            <li class="student-item">
                <img class="student-image"
                    src="/src/images/profile/PhilipFry.png"
                    alt="" width="160px" height="160px">
                <a class="student-name" href="https://github.com/Volodymyr-Mospan" rel="noopener noreferrer"
                    target="_blank">Volodymyr<br>Mospan</a>
                <p class="student-role">developer</p>
            </li>
            <li class="student-item">
                <img class="student-image"
                    src="/src/images/profile/Minion.png"
                    alt="" width="160px" height="160px">
                <a class="student-name" href="https://github.com/Vasiliy8P" rel="noopener noreferrer"
                    target="_blank">Vasyl<br>Pshenychniuk</a>
                <p class="student-role">developer</p>
            </li>
            <li class="student-item">
                <img class="student-image"
                    src="/src/images/profile/Ava.jpg"
                    alt="" width="160px" height="160px">
                <a class="student-name" href="https://github.com/KateFanina" rel="noopener noreferrer"
                    target="_blank">Ketherina<br>Fanina</a>
                <p class="student-role">developer</p>
            </li>
            <li class="student-item">
                <img class="student-image"
                    src="/src/images/profile/Donatelo.jpg"
                    alt="" width="160px" height="160px">
                <a class="student-name" href="https://github.com/Aleksey100ckiy" rel="noopener noreferrer"
                    target="_blank">Oleksii<br>Stotskiy</a>
                <p class="student-role">developer</p>
            </li>
            <li class="student-item">
                <img class="student-image"
                    src="/src/images/profile/Aragorn.jpg"
                    alt="" width="160px" height="160px">
                <a class="student-name" href="https://github.com/SedaNoty" rel="noopener noreferrer"
                    target="_blank">Serhiy<br>Danylko</a>
                <p class="student-role">developer</p>
            </li>
            <li class="student-item">
                <img class="student-image"
                    src="/src/images/profile/Serseya.webp"
                    alt="" width="160px" height="160px">
                <a class="student-name" href="https://github.com/belshel12" rel="noopener noreferrer"
                    target="_blank">Olena<br>Bieletska</a>
                <p class="student-role">developer</p>
            </li>
            <li class="student-item">
                <img class="student-image"
                    src="/src/images/profile/Rick.webp"
                    alt="" width="160px" height="160px">
                <a class="student-name" href="https://github.com/bukreiev" rel="noopener noreferrer"
                    target="_blank">Hennadii<br>Bukreiev</a>
                <p class="student-role">scrum master</p>
            </li>
            <li class="student-item">
                <img class="student-image"
                    src="/src/images/profile/Shrek.jpeg"
                    alt="" width="160px" height="160px">
                <a class="student-name" href="https://github.com/AnastasiiaKor" rel="noopener noreferrer"
                    target="_blank">Anastasiia<br>Kormilitsyna</a>
                <p class="student-role">team leader</p>
            </li>
        </ul>
    </div>
</div>