.gallery {
  display: grid;
  width: 100%;
  grid-gap: 20px;
  justify-content: center;
  padding: 60px 0;
  grid-template-columns: 100%;

  margin-left: auto;
  margin-right: auto;

  &__wrapper {
    position: relative;
  }

  &__settings-container {
    position: absolute;
    top: 0;
    transform: translateY(25%);
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    position: relative;
    display: block;
    height: 100%;
    border-radius: 4px;
    color: inherit;
    text-decoration: none;
    transition: transform $animationTransition;
  }

  &__link:hover {
    cursor: pointer;
    transform: scale(1.01);
  }

  &__link:focus {
    outline: 4px solid $orange-color;
    outline-offset: 4px;
    transform: scale(1.01);
  }

  &__event-wrapper {
    pointer-events: none;
  }

  &__poster-wrapper {
    display: flex;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: $movie-card-shadow;
  }

  &__poster {
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
    transition: transform $animationTransition;

    .gallery__link:hover &,
    .gallery__link:focus & {
      transform: scale(1.02);
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
    font-family: $primary-font-family;
    font-weight: 500;
    @include textStyle(12px, 1.33);
  }

  &__movie-title {
    max-width: 100%;
    text-transform: uppercase;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__movie-meta {
    color: $orange-color;
  }

  &__movie-info {
    margin-right: 9px;
  }

  &__movie-rating {
    padding: 1px 6px;
    border-radius: 5px;
    color: $light-color;
    background-color: $orange-color;
  }

  @media screen and (min-width: $mobile) {
  }

  @media screen and (min-width: $tablet) {
    grid-template-columns: 336px 336px;
    padding: 60px 0;
    grid-gap: 32px;

    &__poster-wrapper {
      height: 455px;
    }
  }

  @media screen and (min-width: $desktop) {
    grid-template-columns: 395px 395px 395px;
    grid-gap: 16px;

    &__description {
      gap: 6px;
      @include textStyle(20px, 1.2);
    }

    &__poster-wrapper {
      height: 600px;
    }

    &__movie-rating {
      padding: 3px 8px;
    }
  }
}

.empty_library_bcg_img {
  margin-top: 100px;
  margin-bottom: 60px;
  background-image: url('/src/images/nomovies.svg');
  display: block;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 0) {
    height: 150px;
    width: 150px;
  }
  @media screen and (min-width: 768px) {
    height: 250px;
    width: 250px;
  }
  @media screen and (min-width: 1200px) {
    height: 400px;
    width: 400px;
  }
}
