.gallery {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  grid-gap: 20px;
  justify-content: center;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;

  &__link {
    position: relative;
    display: block;
    height: 100%;
    border-radius: 4px;
    color: inherit;
    text-decoration: none;
    transition: transform $animationTransition;
  }

  &__link:hover {
    cursor: pointer;
    transform: scale(1.03);
  }

  &__event-wrapper {
    pointer-events: none;
  }

  &__poster {
    display: block;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
    font-family: $primary-font-family;
    font-weight: 500;
    @include textStyle(12px, 1.33);
  }

  &__movie-title {
    text-transform: uppercase;
  }

  &__movie-meta {
    line-height: 1.6;
    color: $orange-color;
  }

  &__movie-info {
    margin-right: 9px;
  }

  &__movie-rating {
    padding: 1px 6px;
    border-radius: 5px;
    color: $light-color;
    background-color: $orange-color;
  }

  @media screen and (min-width: $mobile) {
    grid-template-columns: repeat(auto-fit, minmax(336px, 1fr));
  }

  @media screen and (min-width: $tablet) {
    grid-gap: 32px;
  }

  @media screen and (min-width: $desktop) {
    &__description {
      gap: 6px;
      @include textStyle(20px, 1.2);
    }

    &__movie-rating {
      padding: 3px 8px;
    }
  }
}
