.footer__backdrop {
    position: fixed;
    z-index: 1;
    overflow-y: scroll;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(29, 29, 29, 0.484);
    opacity: 1;
    transition: opacity $animationTransition;
}
// $animationTransition
.footer__backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;

    .footer__modal {
            opacity: 0;
        }

}

.footer__modal {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: auto;
    padding: 20px 60px;

    min-width: 320px;    
    width: 950px;
    // max-height: 80vh;

    border-radius: 2px;
    opacity: 1;
    background-color: $light-color;
    z-index: 3;
    transform: translate(-50%, -50%) scale(1);
    transition: transform $animationTransition;

    // @media screen and (min-width: 768px) {
    //     // position: absolute;
    //     // top: 50%;
    //     // left: 50%;
    //     // transform: translate(-50%, -50%);
    //     // width: 550px;
    // }

    // @media screen and (min-width: 1024px) {
    //     // width: 750px;
    // }
}


.footer__modal-title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 23px;
    color: $orange-color;
    font-size: 40px;
    font-weight: 500;
}
.scream {
        color: $dark-color;
}

.student-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: -10px;
    margin-top: 0;
}


.student-item {
    text-align: center;
    overflow: hidden;
    width: 130px;
    margin: 10px;
    margin-top: 0;


    // @media screen and(min-width: 768px) {
    //     width: calc((100% - 4 * 15px) / 4);
    // }

    // @media screen and(min-width: 1024px) {
    //     width: calc((100% - 4 * 15px) / 4);
    // }
}


.student-image {
    border-radius: 4px;

    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center;
    box-shadow: 1px 1px 20px 2px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    margin-bottom: 8px;
    // @media screen and(min-width: 768px) {
    //     height: 150px;
    // }
}

.student-name {
    display: block;
    color: $dark-color;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 7px;
    transition: color $animationTransition;

    &:hover,
    &:focus {
        color: $orange-color;
    }
}

.student-role {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    color: $orange-color;
}

.footer__closeBtn {
    position: absolute;
    background-color: $orange-color;
    top: 10px;
    right: 10px;
    background-color: transparent;
    overflow: hidden;
    cursor: pointer;
    padding: 5px;
    width: 40px;
    height: 40px;
    border: none;
    
}

.footer__close-icon {
    width: 30px;
    height: 30px;
    fill: $dark-color;
    display: flex;
    justify-content: center;
    transition: fill $animationTransition;
    
    &:hover,
    :focus {
    fill: $orange-color;
    }
}

