h2,
h3 {
  margin: 0;
}
.modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 100;
  overflow: auto;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  transform: scale(1);
  visibility: visible;
  pointer-events: auto;
  transition: opacity 800ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 800ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 800ms cubic-bezier(0.4, 0, 0.2, 1);
}
// .is-hidden {
//   transform: scale(0);
//   opacity: 0;
//   visibility: hidden;
//   pointer-events: none;
// }

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 48px 20px;
  opacity: 1;
  background-color: inherit;
  background-color: white;
  border: 1px solid #0000001a;
  width: 94%;
  z-index: 101;
}
@media screen and (max-width: $min-tablet) {
  .modal {
    max-width: 450px;
    padding: 48px 20px;
  }
}
@media screen and (min-width: $tablet) {
  .modal {
    width: 704px;
    padding: 40px 36px;
  }
}
@media screen and (min-width: $desktop) {
  .modal {
    width: 806px;
    padding: 40px 36px;
  }
}
.button__close {
  position: absolute;
  padding: 0;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  @include flexCentered(flex, center, center);
  // fill: currentColor;
  // color: inherit;
  // border: none;
  fill: black;
  color: black;
  border-color: black;
  background-color: transparent;
  transition: transform $animationTransition;
  &:hover,
  &:focus {
    @extend %button-modal--hover;
  }
}
.film__image {
  display: block;
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
  @media screen and (min-width: $tablet) {
    min-width: 264px;
  }
}
.film__title {
  margin-bottom: 12px;
  font-family: $primary-font-family;
  color: $dark-color;
  @include textStyle(20px, 1.15);
}
.upper {
  text-transform: uppercase;
}

.film__item {
  font-family: $primary-font-family;
  color: $modal-text;
  @include textStyle(12px, 1.33);
  margin-bottom: 8px;
  font-weight: 500;
}

.film__details {
  font-family: $primary-font-family;
  color: $dark-color;
  @include textStyle(12px, 1.33);
  margin-bottom: 8px;
}
.film__rating {
  color: #fff;
  background-color: #ff6b01;
  border-radius: 5px;
  padding: 1px 7px;
  align-items: center;
}
.film__votes-number {
  background-color: $footer-bg-color;
  border-radius: 5px;
  padding: 7px 1px;
}
.film__button {
  @extend %button-modal;
}

.film__button--trailer {
  @extend %button-modal;
  align-items: center;
}
.modal__wrapper {
  @media screen and (min-width: $tablet) {
    @include flexCentered(flex, center, center);
    gap: 12px;
  }
  @media screen and (min-width: $desktop) {
    gap: 16px;
  }
}
.film__info {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
