.pagination {
    display:flex;
    gap:16px;
    &-button {
        width:40px;
        height:40px;

        display:flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        background-color: var(--orange-color);
    }
}