.theme-switcher__btn {
    position: absolute;
    bottom: 20px;
    right: 20px;

    display: flex; 
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 32px;
    height: 32px;
        
    fill: $light-color;
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    padding: 0; 
    
    transition: background $animationTransition;
    transition: 350ms $bezier-hov;
    &:hover {
        // background-color: $red-color;
        transition: 350ms $bezier-hov;
        transform: scale(1.4) rotateZ(45deg);
        fill: $hover-btn-color;
    }

    @media screen and (min-width: $desktop) {
        bottom: 40px;
        right: 30px;
    }
}

.icon-ishidden {
    display: none;
}

.tooltip {
    border: none !important;
    background: transparent !important;
    color: $light-color !important;
    padding: 3px;
    font-size: 13px;
}