.header {
  font-family: $primary-font-family;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  

  margin-left: auto;
  margin-right: auto;

  color: $light-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-size: cover;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.56),
    rgba(0, 0, 0, 0.56)
  );

  @media screen and (max-width: $min-tablet) {
    background-image: url(../images/Group\ 86_home@x1_320min.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/Group\ 86_home@x2_320min.jpg);
    }
  }

  @media screen and (min-width: $tablet) {
    background-image: url(../images/Group\ 86_home@x1_768min.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/Group\ 86_home@x2_768min.jpg);
    }
  }

  @media screen and (min-width: $desktop) {
    background-image: url(../images/Group\ 87_home@x1_1280min.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/Group\ 87_home@x2_1280min.jpg);
    }
  }
}

.header__container {
  min-height: 230px;
  padding: 40px 20px;

  @media screen and (min-width: $tablet) {
    min-height: 216px;
  }
}

.nav {
  display: flex;
}

.logo {
  display: flex;
  align-items: center;

  transition: 350ms $bezier-hov;
  &:hover,
  &:focus {
    transform: scale(1.1);
  }

  &__text {
    font-weight: lighter;
    display: inline-block;
    margin: 0;
    margin-left: 8px;
    font-size: 30px;

    @media screen and (max-width: $min-tablet) {
      position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
    }

    @media screen and (min-width: $desktop) {
      margin-left: 10px;
    }
  }
}

.nav-list {
	@include flexCentered();
	column-gap: 40px;
	margin-left: auto;
 
	&__item {
	  position: relative;
	  transform: scale(1);
	  transition: transform 350ms $bezier-hov;
	  &:hover,
	  &:focus {
		 transform: scale(1.25);
	  }
	}
 
	&__link {
	  display: inline-block;
 
	  margin: 0;
	  padding: 0;
	  padding-top: 4px;
	  padding-bottom: 6px;
 
	  text-align: center;
	  text-transform: uppercase;
 
	  color: inherit;
	  transition: color 350ms $bezier-hov;
 
	  &:hover,
	  &:focus {
		 color: $red-color;
	  }
	}
 }

.search-form {
  position: relative;
  max-width: 394px;
  min-width: 280px;

  margin-top: 54px;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $tablet) {
    max-width: 336px;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  &__input {
    width: 100%;
    min-height: 20px;
    padding-left: 0;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;

    outline: none;
    border: none;
    border-bottom: 0.5px solid #ffffff;
    background-color: inherit;
    color: $light-color;

    &::placeholder {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.14;
      color: $light-color;
    }
  }

  &__btn {
    position: absolute;
    top: -20px;
    right: -20px;

    padding: 20 20 20px 20px;

    border: 0;
    background-color: inherit;

    cursor: pointer;

    @media screen and (min-width: #{$tablet}) {
      top: -10px;
      right: -10px;

      padding: 10 10 10px 10px;
    }
  }
}

.search-result {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;

  margin-left: auto;
  margin-right: auto;

  color: $red-color;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.theme-switcher__btn {
  transform: scale(1);
  &:hover,
  &:focus {
    transition: 350ms $bezier-hov;
    transform: scale(1.4);
    fill: $hover-btn-color;
  }
}
