.header {
  font-family: $primary-font-family;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: $light-color;
}

.header__container {
  max-width: 1600px;
  min-height: 230px;
  padding: 40px 20px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.56),
    rgba(0, 0, 0, 0.56)
  );

  background-size: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  @media screen and (max-width: $min-tablet) {
    background-image: url(../images/Group\ 86_home@x1_320min.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2) and (max-width: $min-tablet),
    screen and (min-resolution: 192dpi) and (max-width: $min-tablet),
    screen and (min-resolution: 2dppx) and (max-width: $min-tablet) {
    background-image: url(../images/Group\ 86_home@x2_320min.jpg);
  }

  @media screen and (min-width: $tablet) {
    min-height: 216px;
    padding-right: 32px;
    padding-left: 32px;
    background-image: url(../images/Group\ 86_home@x1_768min.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: $tablet),
    screen and (min-resolution: 192dpi) and (min-width: $tablet),
    screen and (min-resolution: 2dppx) and (min-width: $tablet) {
    background-image: url(../images/Group\ 86_home@x2_768min.jpg);
  }

  @media screen and (min-width: $desktop) {
    background-image: url(../images/Group\ 87_home@x1_1280min.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: $desktop),
    screen and (min-resolution: 192dpi) and (min-width: $desktop),
    screen and (min-resolution: 2dppx) and (min-width: $desktop) {
    background-image: url(../images/Group\ 87_home@x2_1280min.jpg);
  }
}

.nav {
  display: flex;
}

.logo {
  display: flex;
  align-items: center;

  &__text {
    display: inline-block;

    margin: 0;
    margin-left: 8px;

    font-size: 30px;

    @media screen and (max-width: $min-tablet) {
      position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
    }

    @media screen and (min-width: $desktop) {
      margin-left: 10px;
    }
  }
}

// .nav-list {
//   display: flex;
//   margin-left: auto;
//   justify-content: center;
//   align-items: center;
//   column-gap: 40px;

//   &__item {
//     display: inline-block;

//     margin: 0;
//     padding: 0;

//     padding-top: 4px;
//     padding-bottom: 6px;

//     text-decoration: none;
//     list-style: none;
//     text-align: center;
//     text-transform: uppercase;

//     color: inherit;
//   }
// }
.nav-list {
  display: flex;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  column-gap: 40px;

  &__link {
    display: inline-block;

    margin: 0;
    padding: 0;

    padding-top: 4px;
    padding-bottom: 6px;

    text-decoration: none;
    list-style: none;
    text-align: center;
    text-transform: uppercase;

    color: inherit;
  }

  &__item {
    position: relative;
  }
}

.search-form {
  position: relative;
  max-width: 394px;
  min-width: 280px;

  margin-top: 54px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $tablet) {
    max-width: 336px;
    margin-top: 40px;
  }

  &__input {
    width: 100%;
    min-height: 20px;

    padding-left: 0;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    color: $light-color;

    background-color: inherit;
    border: none;
    outline: none;
    border-bottom: 0.5px solid #ffffff;

    &::placeholder {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.14;
      color: $light-color;
    }
  }

  &__btn {
    position: absolute;
    top: 0;
    right: 0;

    padding: 0 0 6px 6 px;

    border: 0;
    background-color: inherit;
  }
}

.search-result {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: $red-color;
}
